.customUrlBox {
}

.urlForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-direction: column;
  flex-direction: nowrap;
}

.controls .urlInput {
}

.controls .customKeyInput {
}

.controls .btn {
}

.errorMessage {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
}

.zippedLink {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
