.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
  padding: 1rem;
  border-top: 2px solid var(--primary);
}

.footer a {
  text-decoration: none;
  color: var(--accent);
}

.title {
  font-size: 3.5rem;
}

.menu {
  display: flex;
  gap: 4rem;
}

.logo {
  height: 1.5rem;
}

.githubLogo {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media only screen and (max-width: 800px) {
  .footer {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu {
    flex-direction: column;
    gap: 0rem;
    margin-left: 0 1rem;
    width: 100%;
  }

  .menu li {
    padding: 0.25rem 0;
  }
  .menu :not(:first-child) {
    border-top: 1px solid var(--primary);
  }
}
