.urlZipperBox {
}

.urlForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  display: flex;
  flex-wrap: nowrap;
}

.controls .urlInput {
}

.controls .btn {
}

.btnLink {
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  background-color: var(--secondary);
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 2px solid var(--text);
  margin: 1rem 1rem 1rem 0;
  white-space: nowrap;
}

.errorMessage {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
}

.zippedLink {
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
}
