.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls .textInput {
  padding: 0.5rem;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  margin: 1rem 0 1rem 1rem;
  background-color: var(--text);
}

.controls .btn {
  background-color: var(--primary);
  padding: 0.5rem;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.customUrlWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.btnLink {
  text-decoration: none;
  width: fit-content;
  background-color: var(--primary);
  color: var(--text);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem;
  border-radius: 0.25rem;
}
