@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --text: #e1e2fd;
  --background: #03031e;
  --primary: #8083f4;
  --secondary: #5e0c8e;
  --accent: #d62eed;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
  color: var(--text);
}

a {
  color: var(--accent);
}
