.dropdown {
  position: absolute;
  padding: 1rem;
  background-color: var(--primary);
  border-radius: 0.25rem;
  right: 0;
  margin-top: 1rem;
  border: 1px solid var(--text);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.15s ease;
}

.dropdown ul :not(:first-child) {
  border-top: 1px solid var(--background);
}

.dropdownOption {
  padding: 0.5rem 0;
  white-space: nowrap;
}

.dropdown.inactive {
  opacity: 0;
  visibility: hidden;
}
