.clickCounterBox {
}

.controls .urlInput {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.controls .btn {
}

.link {
  display: block;
}

.errorMessage {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
}
