.clickCounterBox {
}

.controls {
  display: flex;
}

.controls .urlInput {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}

.controls .btn {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
  border-left: 0px;
}

.link {
  display: block;
}

.errorMessage {
  color: var(--accent);
  font-weight: bold;
  font-size: 1.25rem;
  margin: 1rem;
}
