.zipLinkDisplayBox {
}

.zipLinkInfoBar:not(:first-child) {
  border-bottom: 1px solid var(--background);
}

.zipLinkInfoBar {
  display: grid;
  width: 100%;
  grid-template-columns: 8fr 8fr 2fr 1fr;
  padding: 1rem;
  position: relative;
}

.zipLinkInfoBar a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zipLinkPageControls {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.zipLinkPageControls button {
  background-color: var(--primary);
  cursor: pointer;
}

.link {
  white-space: nowrap;
}
